
*{
	font-family: 'Sen', sans-serif;
	line-height: 1.4em;
	margin: 0;

}

.buttom {
	  
	  color: white;
	  padding: 1.5% 3.2%;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10%;
     
}

.buttom:hover {
	background-color: #F6E8EA;
	color: black;
	transition-duration: 0.8s
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

body{	
	background-color: #F6E8EA;
	background: linear-gradient(to right, #E6E8EA 0%, #F6E8EA 27%, #F6E8EA 100%);
	width: 100%;
	max-width: 100vw;
	
}

header {
	background-image: url(imgs/fondo.jpg);
	background-repeat:repeat;
	text-align: center;
	display: block;
}

nav	{
	display: inline-block;

	background-color: #f96554;
	box-shadow: 2px 1px 10px 2px ;
	position: sticky;
	top: 1%;
	width: 100%;
	min-width: 100%;
	margin:2;
	
}


div{
	width: 100%;
	height: 100%;
	min-height: 90vh;
}

footer{
	display: inline-block; 
	width: 100%;
	min-height: 25vh;
	height: 25vw;
	color: #F6E8EA;
	background-color: #22182C;
	
}
#input-search {
	transition: 1s;
	background: #FFBAA1;
	display: inline-flex;
	right: 0%;
	width: 25vw;
	border: 1px solid #95BAA1;
	font-size: 20px;
	color: white;
	text-align: right;
	overflow: auto;
	align-items: right;

}

	
	
}
/*esto es lo defaulto ahora empieza lo de la pagina principal*/
.border{
	border: solid black 1px;
	display: inline-block;
}
#presentacion {
	width: 20vw;
	height: 20vw;
	margin-top: 6%;
	margin-left:3%;
	object-fit: cover;
}
#presentacion2 {
	width: 20vw;
	height: 20vw;
	margin-top: 6%;
	margin-left:3%;
	object-fit: cover;
}
#presentacion3 {
	width: 20vw;
	height: 20vw;
	margin-top: 6%;
	margin-left:3%;
	object-fit: cover;
}
#presentacion4 {
	width: 20vw;
	height: 20vw;
	margin-top: 6%;
	margin-left:3%;
	object-fit: cover;
}


/*qweqwe*/
#descripcion {
	display: inline-block;
	width: 20vw;
	height: 20vw;
	margin-top: 1%;
	margin-left:3%;
	text-decoration: underline;
	text-align: center;
}
#descripcion2 {
	display: inline-block;
	width: 20vw;
	height: 20vw;
	margin-top: 1%;
	margin-left:3%;
	text-decoration: underline;
	text-align: center;
}
#descripcion3 {
	display: inline-block;
	width: 20vw;
	height: 20vw;
	margin-top: 1%;
	margin-left:3%;
	text-decoration: underline;
	text-align: center;
}

#descripcion4 {
	display: inline-block;
	width: 20vw;
	height: 20vw;
	margin-top: 1%;
	margin-left:3%;
	text-decoration: underline;
	text-align: center;
}

