
.buttom {
	  border: 2px solid #52192C;
	  color: white;
	  padding: 1.5% 3.2%;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10%;
     
}

.buttom:hover {
	background-color: #F6E8EA;
	color: black;
	transition-duration: 0.8s
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/


header {
	background-image: url(imgs/fondo.jpg);
	background-repeat:repeat;
	margin:0;
	height:100%;
	background-color: #F6E8EA;
	text-align: center;
	display: block;
	flex-direction: column;
}

h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2 {
	centerdisplay: flex; 
	text-aling: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 	font-size: 13px;
	color: #22181C;
}

body{	
	height: 100%;
	background-color: #F6E8EA;
	background: linear-gradient(to right, #E6E8EA 0%, #F6E8EA 27%, #F6E8EA 100%);
}

nav	{
	position: sticky;
	
	background-color: #52182C;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 100%;
	height: 6.5%;
	box-shadow: 2px 1px 10px 2px ;
}

div{
	width: 100vw;
	height: 90vw;
	min-height: 90vh;
}

footer{
	display: inline-block; 
	width: 100%;
	min-height: 25vh;
	height: 25vw;
	color: #F6E8EA;
	background-color: #22182C;
	margin-bottom: 
	background: linear-gradient(to right,#02182C 0%, #22180C 27%, #22181C 100%);
	text-align: bottom;
}
#input-search {
	text-align: right;
	padding-left:
	display:inline-flex;
	width: 25vw;
	margin-left:10%;
}
/*esto es lo defaulto ahora empieza lo de la pagina principal*/
.border{
	border: solid black 1px;
	display: inline-block;
}
#presentacion {
	width: 20vw;
	height: 20vw;
	margin-top: 6%;
	margin-left:3%;
}
#presentacion2 {
	width: 20vw;
	height: 20vw;
	margin-top: 6%;
	margin-left:3%;
}
#presentacion3 {
	width: 20vw;
	height: 20vw;
	margin-top: 6%;
	margin-left:3%;
}
#presentacion4 {
	width: 20vw;
	height: 20vw;
	margin-top: 6%;
	margin-left:3%;
}


/*qweqwe*/
#descripcion {
	display: inline-block;
	width: 20vw;
	height: 20vw;
	margin-top: 1%;
	margin-left:3%;
	text-decoration: underline;
	text-align: center;
}
#descripcion2 {
	display: inline-block;
	width: 20vw;
	height: 20vw;
	margin-top: 1%;
	margin-left:3%;
	text-decoration: underline;
	text-align: center;
}
#descripcion3 {
	display: inline-block;
	width: 20vw;
	height: 20vw;
	margin-top: 1%;
	margin-left:3%;
	text-decoration: underline;
	text-align: center;
}

#descripcion4 {
	display: inline-block;
	width: 20vw;
	height: 20vw;
	margin-top: 1%;
	margin-left:3%;
	text-decoration: underline;
	text-align: center;
}

